<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>优记扫描</string>
	<key>CFBundleDisplayName</key>
	<string>优记扫描</string>
	<key>CFBundleIdentifier</key>
	<string>com.youjiscan.yjrebuild</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>arkit</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>用于3D物体扫描和实时取景预览，需要访问摄像头进行LiDAR建模</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>用于保存扫描生成的3D模型文件和截图到相册</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>用于将扫描结果保存到您的照片库</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
